body {
    margin: 0;
}

nav {
    width: 95%;
    margin: auto;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: all 1s;
}

.arrow-container {
  
    padding: 5px;
    cursor: pointer;
  
}



nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}


nav ul .menu-link {
    position: relative;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: "Arial", sans-serif; 
}


nav ul .menu-link::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease-in-out;
}


.scroll-bottom nav ul .menu-link:hover::after {
    width: 100%;
    background: #213555;
}

.scroll-top nav ul .menu-link:hover::after {
    width: 100%;
    background: #213555;
}

.scroll-top .menu-link {
    color: #ffffff;
}

.scroll-bottom {
    background: #ffffff;
}

.scroll-bottom .menu-link {
    color: #213555;
}

/* //sub nave  */
.sub-nav {
    width: 300px;
    background: #fff;
    padding: 30px 20px;
}

.sub-nav ul {
    flex-direction: column;
    gap: 20px;
}

/* Modified this selector */
.sub-nav ul .menu-link {
    color: #213555;
}

.scroll-top .sub-nav ul .menu-link:hover::after {
    width: 100%;
    background: #213555;
}
